@-webkit-keyframes border-menu-show {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@keyframes border-menu-show {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes border-menu-hide {
  100% {
    right: -100%;
  }
  0% {
    right: 0;
  }
}
@keyframes border-menu-hide {
  100% {
    right: -100%;
  }
  0% {
    right: 0;
  }
}
@-webkit-keyframes image-show {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@keyframes image-show {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@-webkit-keyframes text-show {
  0% {
    transform: translateY(300%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes text-show {
  0% {
    transform: translateY(300%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes opacity-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes border-show {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes border-show {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes stand-swap {
  0% {
    transform: translate(0, -50%);
  }
  33% {
    transform: translate(0, -300%);
    right: 112px;
  }
  66% {
    transform: translate(50%, -300%);
    right: 50%;
  }
  100% {
    transform: translate(50%, -50%);
    right: 50%;
  }
}
@keyframes stand-swap {
  0% {
    transform: translate(0, -50%);
  }
  33% {
    transform: translate(0, -300%);
    right: 112px;
  }
  66% {
    transform: translate(50%, -300%);
    right: 50%;
  }
  100% {
    transform: translate(50%, -50%);
    right: 50%;
  }
}
@media (max-width: 768px) {
  @-webkit-keyframes stand-swap {
    0% {
      transform: translate(0, -50%);
    }
    33% {
      transform: translate(0, -300%);
      right: 112px;
    }
    66% {
      transform: translate(50%, -300%);
      right: 50%;
    }
    100% {
      transform: translate(50%, -300%);
      right: 50%;
    }
  }
  @keyframes stand-swap {
    0% {
      transform: translate(0, -50%);
    }
    33% {
      transform: translate(0, -300%);
      right: 112px;
    }
    66% {
      transform: translate(50%, -300%);
      right: 50%;
    }
    100% {
      transform: translate(50%, -300%);
      right: 50%;
    }
  }
}