.feedback {
  border-bottom: 1px solid #fff;
  display: flex;
  flex-direction: column;
  padding-top: 165px;
  padding-bottom: 143px;
}
.feedback header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 158px;
}
.feedback header h1 {
  width: 45%;
  text-transform: uppercase;
  font-size: 65px;
  font-family: "Proxima Nova Bold";
}
.feedback header p {
  width: 45%;
  padding-right: 61px;
  box-sizing: border-box;
}
.feedback .feedback__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.feedback .feedback__row .feedback__row_lc {
  width: 45%;
  border-bottom: 1px solid #fff;
}
.feedback .feedback__row .feedback__row_lc h3 {
  font-size: 30px;
  font-family: "Proxima Nova Semibold";
  text-transform: uppercase;
}
.feedback .feedback__row .feedback__row_lc .feedback__block_budget {
  margin-top: 51px;
  display: flex;
}
.feedback .feedback__row .feedback__row_lc .feedback__block_budget .feedback__block_budget_text {
  margin-left: 48px;
  display: flex;
  flex-direction: column;
}
.feedback .feedback__row .feedback__row_lc .feedback__block_budget .feedback__block_budget_text p {
  font-size: 30px;
  margin-bottom: 8px;
}
.feedback .feedback__row .feedback__row_lc .feedback__block_budget .feedback__block_budget_text span {
  font-size: 10px;
  color: #EA2828;
}
.feedback .feedback__row .feedback__row_lc .feedback__block_budget .feedback__block_budget_text .budget {
  font-size: 30px;
  color: #fff;
}
.feedback .feedback__row .feedback__row_lc .feedback__send {
  border: none;
  padding: 45px 165px 50px;
  background-color: #fff;
  font-family: "Proxima Nova Semibold";
  font-size: 20px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.09);
  margin-top: 82px;
  transition: 0.5s;
}
.feedback .feedback__row .feedback__row_lc .feedback__send:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}
.feedback .feedback__row .feedback__row_rc {
  width: 45%;
  border-bottom: 1px solid #fff;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.feedback .feedback__row input {
  font-size: 30px;
  font-family: "Proxima Nova Bold";
  background-color: #000;
  border: none;
  outline: none;
  color: #fff;
  padding: 30px 0;
}
.feedback .feedback__row .input_name {
  position: relative;
}
.feedback .feedback__row .input_name::after {
  content: "Your Name";
  position: absolute;
  bottom: 84px;
  left: 0;
  color: #707070;
}
.feedback .feedback__row .input_phone {
  position: relative;
}
.feedback .feedback__row .input_phone::after {
  content: "Your Contact / Email or Phone with Messengers ";
  position: absolute;
  bottom: 84px;
  left: 0;
  color: #707070;
}
.feedback .feedback__row .input_comment {
  position: relative;
}
.feedback .feedback__row .input_comment::after {
  content: "Add text or Comment About project ";
  position: absolute;
  bottom: 84px;
  left: 0;
  color: #707070;
}
.feedback .budget__row {
  border-bottom: none !important;
  margin-bottom: 0;
}