footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 200px;
}
footer .footer__lc {
  width: 80%;
}
footer .footer__lc p {
  text-transform: uppercase;
}
footer .footer__lc .footer__links {
  display: flex;
  margin-top: 20px;
}
footer .footer__lc .footer__links a {
  margin-right: 42px;
  font-size: 20px;
  text-decoration: underline;
}
footer .footer__rc {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer__rc img {
  width: 15px;
  height: 33px;
}
footer .footer__rc p {
  font-size: 20px;
  font-family: "Proxima Nova Bold";
}
footer .footer__rc:hover {
  cursor: pointer;
}