.header__topText {
  overflow: hidden;
  transition: background-color 0.1s, top 1s, left 1s, right 1s;
  position: fixed;
  z-index: 100;
  top: 24px;
  left: 41.5px;
  right: 36.5px;
  font-size: 20px;
  color: #0D86FF;
  display: flex;
  align-items: center;
  margin: 0;
  border-top: 1px #fff solid;
  border-bottom: 1px #fff solid;
  text-align: right;
  box-sizing: border-box;
  opacity: 0;
  -webkit-animation: opacity-show 3s;
          animation: opacity-show 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
@supports (height: clamp( 2.5rem , 1.3235294118rem  +  5.8823529412vw , 5rem )) {
  .header__topText {
    height: clamp( 2.5rem , 1.3235294118rem  +  5.8823529412vw , 5rem ) !important;
  }
}
@supports not (height: clamp( 2.5rem , 1.3235294118rem  +  5.8823529412vw , 5rem )) {
  .header__topText {
    height: calc(2.5rem + 2.5 * (100vw - 20rem) / 42.5);
  }
}
@supports (padding-right: clamp( 0.625rem , 0.23125rem  +  1.96875vw , 2.59375rem )) {
  .header__topText {
    padding-right: clamp( 0.625rem , 0.23125rem  +  1.96875vw , 2.59375rem ) !important;
  }
}
@supports not (padding-right: clamp( 0.625rem , 0.23125rem  +  1.96875vw , 2.59375rem )) {
  .header__topText {
    padding-right: calc(0.625rem + 1.96875 * (100vw - 20rem) / 100);
  }
}
.header__topText span {
  color: #FFD00D;
}
.header__topText .stand {
  display: flex;
  align-items: center;
  align-items: center;
  position: absolute;
  right: 6%;
  top: 50%;
  transform: translateY(-50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.header__topText img {
  transition: 0.1s;
  transform: translateY(200%);
}
@supports (width: clamp( 6.25rem , 4.1875rem  +  10.3125vw , 16.5625rem )) {
  .header__topText img {
    width: clamp( 6.25rem , 4.1875rem  +  10.3125vw , 16.5625rem ) !important;
  }
}
@supports not (width: clamp( 6.25rem , 4.1875rem  +  10.3125vw , 16.5625rem )) {
  .header__topText img {
    width: calc(6.25rem + 10.3125 * (100vw - 20rem) / 100);
  }
}
@supports (margin-left: clamp( 0.0000000625rem , -1.749999925rem  +  8.7499999375vw , 8.75rem )) {
  .header__topText img {
    margin-left: clamp( 0.0000000625rem , -1.749999925rem  +  8.7499999375vw , 8.75rem ) !important;
  }
}
@supports not (margin-left: clamp( 0.0000000625rem , -1.749999925rem  +  8.7499999375vw , 8.75rem )) {
  .header__topText img {
    margin-left: calc(0.0000000625rem + 8.7499999375 * (100vw - 20rem) / 100);
  }
}
.header__topText .header__menu_links {
  transition: 0.4s;
  background-color: #000;
  margin-right: -3px;
  display: flex;
  transform: translateY(20%);
}
@supports (margin-right: clamp( 0.0000000625rem , -6.2203945724rem  +  16.0526313158vw , 3.8125rem )) {
  .header__topText .header__menu_links {
    margin-right: clamp( 0.0000000625rem , -6.2203945724rem  +  16.0526313158vw , 3.8125rem ) !important;
  }
}
@supports not (margin-right: clamp( 0.0000000625rem , -6.2203945724rem  +  16.0526313158vw , 3.8125rem )) {
  .header__topText .header__menu_links {
    margin-right: calc(0.0000000625rem + 3.8124999375 * (100vw - 38.75rem) / 23.75);
  }
}
@supports (font-size: clamp( 0.875rem , 0.6985294118rem  +  0.8823529412vw , 1.25rem )) {
  .header__topText .header__menu_links {
    font-size: clamp( 0.875rem , 0.6985294118rem  +  0.8823529412vw , 1.25rem ) !important;
  }
}
@supports not (font-size: clamp( 0.875rem , 0.6985294118rem  +  0.8823529412vw , 1.25rem )) {
  .header__topText .header__menu_links {
    font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 42.5);
  }
}

.header {
  border-bottom: 1px solid #fff;
}
.header .header__scrolling {
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  background-color: #000 !important;
  display: flex !important;
  justify-content: space-between !important;
}
@supports (padding-left: clamp( 0.625rem , 0.29375rem  +  1.65625vw , 2.28125rem )) {
  .header .header__scrolling {
    padding-left: clamp( 0.625rem , 0.29375rem  +  1.65625vw , 2.28125rem ) !important;
  }
}
@supports not (padding-left: clamp( 0.625rem , 0.29375rem  +  1.65625vw , 2.28125rem )) {
  .header .header__scrolling {
    padding-left: calc(0.625rem + 1.65625 * (100vw - 20rem) / 100);
  }
}
.header .header__scrolling img {
  display: block !important;
}
.header .logo {
  border-top: none;
  margin-top: 187px;
  margin-bottom: 128px;
  opacity: 0;
  -webkit-animation: opacity-show 3s forwards;
          animation: opacity-show 3s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
@supports (width: clamp( 6.25rem , 3.75rem  +  12.5vw , 18.75rem )) {
  .header .logo {
    width: clamp( 6.25rem , 3.75rem  +  12.5vw , 18.75rem ) !important;
  }
}
@supports not (width: clamp( 6.25rem , 3.75rem  +  12.5vw , 18.75rem )) {
  .header .logo {
    width: calc(6.25rem + 12.5 * (100vw - 20rem) / 100);
  }
}
@supports (margin-left: clamp( 0.0000000625rem , -0.862499925rem  +  4.3124999375vw , 4.3125rem )) {
  .header .logo {
    margin-left: clamp( 0.0000000625rem , -0.862499925rem  +  4.3124999375vw , 4.3125rem ) !important;
  }
}
@supports not (margin-left: clamp( 0.0000000625rem , -0.862499925rem  +  4.3124999375vw , 4.3125rem )) {
  .header .logo {
    margin-left: calc(0.0000000625rem + 4.3124999375 * (100vw - 20rem) / 100);
  }
}
.header .header__text {
  text-transform: uppercase;
  overflow: hidden;
}
.header .header__text h1 {
  font-family: "Proxima Nova Bold";
  margin: 0;
  transform: translateY(200%);
  -webkit-animation: text-show 1s forwards;
          animation: text-show 1s forwards;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}
@supports (font-size: clamp( 1.375rem , 0.0892857143rem  +  4.5714285714vw , 4.375rem )) {
  .header .header__text h1 {
    font-size: clamp( 1.375rem , 0.0892857143rem  +  4.5714285714vw , 4.375rem ) !important;
  }
}
@supports not (font-size: clamp( 1.375rem , 0.0892857143rem  +  4.5714285714vw , 4.375rem )) {
  .header .header__text h1 {
    font-size: calc(1.375rem + 3 * (100vw - 28.125rem) / 65.625);
  }
}
.header .header__text h2 {
  margin-top: 46px;
  font-family: "Marcellus Regular";
  transform: translateY(200%);
  -webkit-animation: text-show 1s forwards;
          animation: text-show 1s forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
@supports (font-size: clamp( 1.375rem , 1.1607142857rem  +  0.7619047619vw , 1.875rem )) {
  .header .header__text h2 {
    font-size: clamp( 1.375rem , 1.1607142857rem  +  0.7619047619vw , 1.875rem ) !important;
  }
}
@supports not (font-size: clamp( 1.375rem , 1.1607142857rem  +  0.7619047619vw , 1.875rem )) {
  .header .header__text h2 {
    font-size: calc(1.375rem + 0.5 * (100vw - 28.125rem) / 65.625);
  }
}
.header .header__menu {
  display: flex;
  justify-content: space-between;
  font-family: "Proxima Nova Bold";
  margin: 161px 0 50px;
  opacity: 0;
  -webkit-animation: opacity-show 3s forwards;
          animation: opacity-show 3s forwards;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  position: relative;
  z-index: 2;
}
@supports (font-size: clamp( 0.875rem , 0.6985294118rem  +  0.8823529412vw , 1.25rem )) {
  .header .header__menu {
    font-size: clamp( 0.875rem , 0.6985294118rem  +  0.8823529412vw , 1.25rem ) !important;
  }
}
@supports not (font-size: clamp( 0.875rem , 0.6985294118rem  +  0.8823529412vw , 1.25rem )) {
  .header .header__menu {
    font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 42.5);
  }
}
.header .header__menu_links {
  display: flex;
}
@supports (margin-right: clamp( 0.0000000625rem , -6.2203945724rem  +  16.0526313158vw , 3.8125rem )) {
  .header .header__menu_links {
    margin-right: clamp( 0.0000000625rem , -6.2203945724rem  +  16.0526313158vw , 3.8125rem ) !important;
  }
}
@supports not (margin-right: clamp( 0.0000000625rem , -6.2203945724rem  +  16.0526313158vw , 3.8125rem )) {
  .header .header__menu_links {
    margin-right: calc(0.0000000625rem + 3.8124999375 * (100vw - 38.75rem) / 23.75);
  }
}
.header .header__menu_links .header__menu_links_wrapper {
  overflow: hidden;
}
@supports (margin-left: clamp( 0.9375rem , -11.4375rem  +  22vw , 5.0625rem )) {
  .header .header__menu_links .header__menu_links_wrapper {
    margin-left: clamp( 0.9375rem , -11.4375rem  +  22vw , 5.0625rem ) !important;
  }
}
@supports not (margin-left: clamp( 0.9375rem , -11.4375rem  +  22vw , 5.0625rem )) {
  .header .header__menu_links .header__menu_links_wrapper {
    margin-left: calc(0.9375rem + 4.125 * (100vw - 56.25rem) / 18.75);
  }
}
.header .header__menu_links a {
  position: relative;
  overflow: hidden;
}
.header .header__menu_links a::after {
  content: "";
  position: absolute;
  right: -100%;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  -webkit-animation: border-menu-hide 0.5s;
          animation: border-menu-hide 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.header .header__menu_links a:hover::after {
  content: "";
  position: absolute;
  left: -100%;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  -webkit-animation: border-menu-show 0.5s;
          animation: border-menu-show 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media (max-width: 1000px) {
  .header .header__text h1, .header .header__text h2 {
    width: 100%;
    text-align: center;
  }
}