@charset "UTF-8";
.header__topText {
  overflow: hidden;
  transition: background-color 0.1s, top 1s, left 1s, right 1s;
  position: fixed;
  z-index: 100;
  top: 24px;
  left: 41.5px;
  right: 36.5px;
  font-size: 20px;
  color: #0D86FF;
  display: flex;
  align-items: center;
  margin: 0;
  border-top: 1px #fff solid;
  border-bottom: 1px #fff solid;
  text-align: right;
  box-sizing: border-box;
  opacity: 0;
  -webkit-animation: opacity-show 3s;
          animation: opacity-show 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
@supports (height: clamp( 2.5rem , 1.3235294118rem  +  5.8823529412vw , 5rem )) {
  .header__topText {
    height: clamp( 2.5rem , 1.3235294118rem  +  5.8823529412vw , 5rem ) !important;
  }
}
@supports not (height: clamp( 2.5rem , 1.3235294118rem  +  5.8823529412vw , 5rem )) {
  .header__topText {
    height: calc(2.5rem + 2.5 * (100vw - 20rem) / 42.5);
  }
}
@supports (padding-right: clamp( 0.625rem , 0.23125rem  +  1.96875vw , 2.59375rem )) {
  .header__topText {
    padding-right: clamp( 0.625rem , 0.23125rem  +  1.96875vw , 2.59375rem ) !important;
  }
}
@supports not (padding-right: clamp( 0.625rem , 0.23125rem  +  1.96875vw , 2.59375rem )) {
  .header__topText {
    padding-right: calc(0.625rem + 1.96875 * (100vw - 20rem) / 100);
  }
}
.header__topText span {
  color: #FFD00D;
}
.header__topText .stand {
  display: flex;
  align-items: center;
  align-items: center;
  position: absolute;
  right: 6%;
  top: 50%;
  transform: translateY(-50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.header__topText img {
  transition: 0.1s;
  transform: translateY(200%);
}
@supports (width: clamp( 6.25rem , 4.1875rem  +  10.3125vw , 16.5625rem )) {
  .header__topText img {
    width: clamp( 6.25rem , 4.1875rem  +  10.3125vw , 16.5625rem ) !important;
  }
}
@supports not (width: clamp( 6.25rem , 4.1875rem  +  10.3125vw , 16.5625rem )) {
  .header__topText img {
    width: calc(6.25rem + 10.3125 * (100vw - 20rem) / 100);
  }
}
@supports (margin-left: clamp( 0.0000000625rem , -1.749999925rem  +  8.7499999375vw , 8.75rem )) {
  .header__topText img {
    margin-left: clamp( 0.0000000625rem , -1.749999925rem  +  8.7499999375vw , 8.75rem ) !important;
  }
}
@supports not (margin-left: clamp( 0.0000000625rem , -1.749999925rem  +  8.7499999375vw , 8.75rem )) {
  .header__topText img {
    margin-left: calc(0.0000000625rem + 8.7499999375 * (100vw - 20rem) / 100);
  }
}
.header__topText .header__menu_links {
  background-color: #000;
  margin-right: -3px;
  display: flex;
  transform: translateY(20%);
  transition: 0.4s;
}
@supports (margin-right: clamp( 0.0000000625rem , -6.2203945724rem  +  16.0526313158vw , 3.8125rem )) {
  .header__topText .header__menu_links {
    margin-right: clamp( 0.0000000625rem , -6.2203945724rem  +  16.0526313158vw , 3.8125rem ) !important;
  }
}
@supports not (margin-right: clamp( 0.0000000625rem , -6.2203945724rem  +  16.0526313158vw , 3.8125rem )) {
  .header__topText .header__menu_links {
    margin-right: calc(0.0000000625rem + 3.8124999375 * (100vw - 38.75rem) / 23.75);
  }
}
@supports (font-size: clamp( 0.875rem , 0.6985294118rem  +  0.8823529412vw , 1.25rem )) {
  .header__topText .header__menu_links {
    font-size: clamp( 0.875rem , 0.6985294118rem  +  0.8823529412vw , 1.25rem ) !important;
  }
}
@supports not (font-size: clamp( 0.875rem , 0.6985294118rem  +  0.8823529412vw , 1.25rem )) {
  .header__topText .header__menu_links {
    font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 42.5);
  }
}

.header {
  border-bottom: 1px solid #fff;
}
.header .header__scrolling {
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  background-color: #000 !important;
  display: flex !important;
  justify-content: space-between !important;
}
@supports (padding-left: clamp( 0.625rem , 0.29375rem  +  1.65625vw , 2.28125rem )) {
  .header .header__scrolling {
    padding-left: clamp( 0.625rem , 0.29375rem  +  1.65625vw , 2.28125rem ) !important;
  }
}
@supports not (padding-left: clamp( 0.625rem , 0.29375rem  +  1.65625vw , 2.28125rem )) {
  .header .header__scrolling {
    padding-left: calc(0.625rem + 1.65625 * (100vw - 20rem) / 100);
  }
}
.header .header__scrolling img {
  display: block !important;
}
.header .logo {
  border-top: none;
  margin-top: 187px;
  margin-bottom: 128px;
  opacity: 0;
  -webkit-animation: opacity-show 3s forwards;
          animation: opacity-show 3s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
@supports (width: clamp( 6.25rem , 3.75rem  +  12.5vw , 18.75rem )) {
  .header .logo {
    width: clamp( 6.25rem , 3.75rem  +  12.5vw , 18.75rem ) !important;
  }
}
@supports not (width: clamp( 6.25rem , 3.75rem  +  12.5vw , 18.75rem )) {
  .header .logo {
    width: calc(6.25rem + 12.5 * (100vw - 20rem) / 100);
  }
}
@supports (margin-left: clamp( 0.0000000625rem , -0.862499925rem  +  4.3124999375vw , 4.3125rem )) {
  .header .logo {
    margin-left: clamp( 0.0000000625rem , -0.862499925rem  +  4.3124999375vw , 4.3125rem ) !important;
  }
}
@supports not (margin-left: clamp( 0.0000000625rem , -0.862499925rem  +  4.3124999375vw , 4.3125rem )) {
  .header .logo {
    margin-left: calc(0.0000000625rem + 4.3124999375 * (100vw - 20rem) / 100);
  }
}
.header .header__text {
  text-transform: uppercase;
  overflow: hidden;
}
.header .header__text h1 {
  font-family: "Proxima Nova Bold";
  margin: 0;
  transform: translateY(200%);
  -webkit-animation: text-show 1s forwards;
          animation: text-show 1s forwards;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}
@supports (font-size: clamp( 1.375rem , 0.0892857143rem  +  4.5714285714vw , 4.375rem )) {
  .header .header__text h1 {
    font-size: clamp( 1.375rem , 0.0892857143rem  +  4.5714285714vw , 4.375rem ) !important;
  }
}
@supports not (font-size: clamp( 1.375rem , 0.0892857143rem  +  4.5714285714vw , 4.375rem )) {
  .header .header__text h1 {
    font-size: calc(1.375rem + 3 * (100vw - 28.125rem) / 65.625);
  }
}
.header .header__text h2 {
  margin-top: 46px;
  font-family: "Marcellus Regular";
  transform: translateY(200%);
  -webkit-animation: text-show 1s forwards;
          animation: text-show 1s forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
@supports (font-size: clamp( 1.375rem , 1.1607142857rem  +  0.7619047619vw , 1.875rem )) {
  .header .header__text h2 {
    font-size: clamp( 1.375rem , 1.1607142857rem  +  0.7619047619vw , 1.875rem ) !important;
  }
}
@supports not (font-size: clamp( 1.375rem , 1.1607142857rem  +  0.7619047619vw , 1.875rem )) {
  .header .header__text h2 {
    font-size: calc(1.375rem + 0.5 * (100vw - 28.125rem) / 65.625);
  }
}
.header .header__menu {
  display: flex;
  justify-content: space-between;
  font-family: "Proxima Nova Bold";
  margin: 161px 0 50px;
  opacity: 0;
  -webkit-animation: opacity-show 3s forwards;
          animation: opacity-show 3s forwards;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  position: relative;
  z-index: 2;
}
@supports (font-size: clamp( 0.875rem , 0.6985294118rem  +  0.8823529412vw , 1.25rem )) {
  .header .header__menu {
    font-size: clamp( 0.875rem , 0.6985294118rem  +  0.8823529412vw , 1.25rem ) !important;
  }
}
@supports not (font-size: clamp( 0.875rem , 0.6985294118rem  +  0.8823529412vw , 1.25rem )) {
  .header .header__menu {
    font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 42.5);
  }
}
.header .header__menu_links {
  display: flex;
}
@supports (margin-right: clamp( 0.0000000625rem , -6.2203945724rem  +  16.0526313158vw , 3.8125rem )) {
  .header .header__menu_links {
    margin-right: clamp( 0.0000000625rem , -6.2203945724rem  +  16.0526313158vw , 3.8125rem ) !important;
  }
}
@supports not (margin-right: clamp( 0.0000000625rem , -6.2203945724rem  +  16.0526313158vw , 3.8125rem )) {
  .header .header__menu_links {
    margin-right: calc(0.0000000625rem + 3.8124999375 * (100vw - 38.75rem) / 23.75);
  }
}
.header .header__menu_links .header__menu_links_wrapper {
  overflow: hidden;
}
@supports (margin-left: clamp( 0.9375rem , -11.4375rem  +  22vw , 5.0625rem )) {
  .header .header__menu_links .header__menu_links_wrapper {
    margin-left: clamp( 0.9375rem , -11.4375rem  +  22vw , 5.0625rem ) !important;
  }
}
@supports not (margin-left: clamp( 0.9375rem , -11.4375rem  +  22vw , 5.0625rem )) {
  .header .header__menu_links .header__menu_links_wrapper {
    margin-left: calc(0.9375rem + 4.125 * (100vw - 56.25rem) / 18.75);
  }
}
.header .header__menu_links a {
  position: relative;
  overflow: hidden;
}
.header .header__menu_links a::after {
  content: "";
  position: absolute;
  right: -100%;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  -webkit-animation: border-menu-hide 0.5s;
          animation: border-menu-hide 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.header .header__menu_links a:hover::after {
  content: "";
  position: absolute;
  left: -100%;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  -webkit-animation: border-menu-show 0.5s;
          animation: border-menu-show 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media (max-width: 1000px) {
  .header .header__text h1, .header .header__text h2 {
    width: 100%;
    text-align: center;
  }
}
@font-face {
  font-family: "Proxima Nova Regular";
  src: local("Proxima Nova Regular"), local("Proxima-Nova-Regular"), url("/src/fonts/ProximaNova-Regular/ProximaNova-Regular.woff2") format("woff2"), url("/src/fonts/ProximaNova-Regular/ProximaNova-Regular.woff") format("woff"), url("/src/fonts/ProximaNova-Regular/ProximaNova-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Semibold";
  src: local("Proxima Nova Semibold"), local("Proxima-Nova-Semibold"), url("/src/fonts/ProximaNova-Semibold/ProximaNova-Semibold.woff2") format("woff2"), url("/src/fonts/ProximaNova-Semibold/ProximaNova-Semibold.woff") format("woff"), url("/src/fonts/ProximaNova-Semibold/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Bold";
  src: local("Proxima Nova Bold"), local("Proxima-Nova-Bold"), url("/src/fonts/ProximaNova-Bold/ProximaNova-Bold.woff2") format("woff2"), url("/src/fonts/ProximaNova-Bold/ProximaNova-Bold.woff") format("woff"), url("/src/fonts/ProximaNova-Bold/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Misto Book";
  src: local("Misto Book"), local("Misto-Book"), url("/src/fonts/Misto-Book/Misto-Book.woff2") format("woff2"), url("/src/fonts/Misto-Book/Misto-Book.woff") format("woff"), url("/src/fonts/Misto-Book/Misto-Book.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Marcellus Regular";
  src: local("Marcellus Regular"), local("Marcellus-Regular"), url("/src/fonts/Marcellus-Regular/Marcellus-Regular.woff2") format("woff2"), url("/src/fonts/Marcellus-Regular/Marcellus-Regular.woff") format("woff"), url("/src/fonts/Marcellus-Regular/Marcellus-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Merriweather";
  src: local("Merriweather Black Italic"), local("Merriweather-Black-Italic"), url("/src/fonts/Merriweather-BlackItalic/Merriweather-BlackItalic.woff2") format("woff2"), url("/src/fonts/Merriweather-BlackItalic/Merriweather-BlackItalic.woff") format("woff"), url("/src/fonts/Merriweather-BlackItalic/Merriweather-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
.slider {
  height: 360px;
  border-bottom: 1px #fff solid;
}

.slider__overflow {
  position: relative;
  overflow: hidden;
}

.swiper-slide {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.collapse {
  position: relative;
}
.collapse h1 {
  color: #A0A0A0;
  cursor: pointer;
}
@supports (font-size: clamp( 1.375rem , 0.25rem  +  3.6vw , 2.5rem )) {
  .collapse h1 {
    font-size: clamp( 1.375rem , 0.25rem  +  3.6vw , 2.5rem ) !important;
  }
}
@supports not (font-size: clamp( 1.375rem , 0.25rem  +  3.6vw , 2.5rem )) {
  .collapse h1 {
    font-size: calc(1.375rem + 1.125 * (100vw - 31.25rem) / 31.25);
  }
}
.collapse h1:hover {
  color: #fff;
}
.collapse p {
  font-size: 20px;
  margin-top: 32px;
  position: absolute;
  left: 0;
  background-color: #000000;
  opacity: 0;
  transition: 0.5s;
}
.collapse img {
  position: absolute;
  top: 10px;
  left: -75px;
}
.collapse::after {
  content: url("../img/+.png");
  width: 42px;
  height: 28px;
  position: absolute;
}
@supports (left: clamp( -4.3125rem , -0.6875rem  +  -5.8vw , -2.5rem )) {
  .collapse::after {
    left: clamp( -4.3125rem , -0.6875rem  +  -5.8vw , -2.5rem ) !important;
  }
}
@supports not (left: clamp( -4.3125rem , -0.6875rem  +  -5.8vw , -2.5rem )) {
  .collapse::after {
    left: calc(-2.5rem + -1.8125 * (100vw - 31.25rem) / 31.25);
  }
}
@supports (top: clamp( 0.0000000625rem , -0.624999875rem  +  1.9999998vw , 0.625rem )) {
  .collapse::after {
    top: clamp( 0.0000000625rem , -0.624999875rem  +  1.9999998vw , 0.625rem ) !important;
  }
}
@supports not (top: clamp( 0.0000000625rem , -0.624999875rem  +  1.9999998vw , 0.625rem )) {
  .collapse::after {
    top: calc(0.0000000625rem + 0.6249999375 * (100vw - 31.25rem) / 31.25);
  }
}

.open h1 {
  color: #fff;
}
.open p {
  opacity: 1;
}
.open::after {
  content: url("../img/—.png");
  width: 42px;
  height: 28px;
  position: absolute;
  left: -69px;
  top: 10px;
  overflow: hidden;
}

.about {
  padding-bottom: 132px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #fff;
}
@supports (padding-top: clamp( 1.875rem , -21.5043103448rem  +  48.7068965517vw , 8.9375rem )) {
  .about {
    padding-top: clamp( 1.875rem , -21.5043103448rem  +  48.7068965517vw , 8.9375rem ) !important;
  }
}
@supports not (padding-top: clamp( 1.875rem , -21.5043103448rem  +  48.7068965517vw , 8.9375rem )) {
  .about {
    padding-top: calc(1.875rem + 7.0625 * (100vw - 48rem) / 14.5);
  }
}
.about header {
  display: flex;
  opacity: 0;
}
.about header .about__lc {
  width: 50%;
}
.about header .about__lc h1 {
  font-family: "Proxima Nova Bold";
}
@supports (font-size: clamp( 1.375rem , 0.3977272727rem  +  4.8863636364vw , 4.0625rem )) {
  .about header .about__lc h1 {
    font-size: clamp( 1.375rem , 0.3977272727rem  +  4.8863636364vw , 4.0625rem ) !important;
  }
}
@supports not (font-size: clamp( 1.375rem , 0.3977272727rem  +  4.8863636364vw , 4.0625rem )) {
  .about header .about__lc h1 {
    font-size: calc(1.375rem + 2.6875 * (100vw - 20rem) / 55);
  }
}
.about header .about__rc {
  width: 50%;
}
.about header .about__rc p {
  margin-bottom: 30px;
}
.about header .about__rc a {
  font-size: 20px;
  font-family: "Proxima Nova Bold";
  position: relative;
  overflow: hidden;
}
.about header .about__rc a::after {
  content: url("../img/Group 3.png");
  width: 55px;
  height: 15px;
  position: relative;
  left: 20px;
  display: inline-block;
}
.about header .about__rc a::before {
  content: "";
  position: absolute;
  right: -100%;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  -webkit-animation: border-menu-hide 0.5s;
          animation: border-menu-hide 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.about header .about__rc a:hover::before {
  content: "";
  position: absolute;
  left: -100%;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  -webkit-animation: border-menu-show 0.5s;
          animation: border-menu-show 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.about .about__faces {
  margin-top: 124px;
  display: flex;
  justify-content: space-around;
}
.about .about__faces .face {
  width: 95%;
  max-width: 383px;
  height: 559px;
  position: relative;
  background-size: 110% 110% !important;
  background-position: center center;
  transition: 3s;
}
.about .about__faces .face .face__text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  bottom: 94px;
  flex-direction: column;
  align-items: flex-start;
}
.about .about__faces .face .face__text h3 {
  margin-bottom: 20px;
  text-transform: uppercase;
  transform: translateY(300%);
}
@supports (font-size: clamp( 1.375rem , -0.9838709677rem  +  2.9032258065vw , 2.5rem )) {
  .about .about__faces .face .face__text h3 {
    font-size: clamp( 1.375rem , -0.9838709677rem  +  2.9032258065vw , 2.5rem ) !important;
  }
}
@supports not (font-size: clamp( 1.375rem , -0.9838709677rem  +  2.9032258065vw , 2.5rem )) {
  .about .about__faces .face .face__text h3 {
    font-size: calc(1.375rem + 1.125 * (100vw - 81.25rem) / 38.75);
  }
}
.about .about__faces .face .face__text .face__desc {
  font-size: 20px;
  transform: translateX(300%);
}
.about .about__faces .face .image__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transition: 1.5s;
}
.about .about__faces .face .left41 {
  left: -41px;
}
.about .about__faces .face .left15 {
  left: -15px;
}
.about .about__faces .face .left25 {
  left: -25px;
}
.about .about__faces .active-image {
  background-size: cover !important;
}
.about .about__faces .active-image .image__wrapper {
  -webkit-animation: image-show 1s;
          animation: image-show 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.about .about__faces .active-image .face__text h3 {
  -webkit-animation: text-show 1s;
          animation: text-show 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.about .about__faces .active-image .face__text .face__desc {
  -webkit-animation: text-show 1s;
          animation: text-show 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

@media (max-width: 1400px) {
  .face__text {
    left: 10px !important;
  }
}
@media (max-width: 768px) {
  .about .about__header {
    flex-direction: column;
  }
  .about header .about__lc, .about header .about__rc {
    width: 100%;
  }
  .about header .about__lc h1, .about header .about__rc h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  .about header .about__lc p, .about header .about__rc p {
    text-align: center;
  }
  .about header .about__lc .links_wrapper, .about header .about__rc .links_wrapper {
    margin: 0 auto;
  }
}
@media (max-width: 1300px) {
  .about__faces {
    flex-direction: column !important;
  }
  .face {
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
.projects {
  width: 100vw;
  padding-bottom: 132px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #fff;
  overflow: hidden;
}
@supports (padding-top: clamp( 1.875rem , -21.5043103448rem  +  48.7068965517vw , 8.9375rem )) {
  .projects {
    padding-top: clamp( 1.875rem , -21.5043103448rem  +  48.7068965517vw , 8.9375rem ) !important;
  }
}
@supports not (padding-top: clamp( 1.875rem , -21.5043103448rem  +  48.7068965517vw , 8.9375rem )) {
  .projects {
    padding-top: calc(1.875rem + 7.0625 * (100vw - 48rem) / 14.5);
  }
}
.projects header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 143px;
}
.projects header h1 {
  width: 45%;
  text-transform: uppercase;
  font-family: "Proxima Nova Bold";
}
@supports (font-size: clamp( 1.875rem , 1.3440533981rem  +  2.2653721683vw , 4.0625rem )) {
  .projects header h1 {
    font-size: clamp( 1.875rem , 1.3440533981rem  +  2.2653721683vw , 4.0625rem ) !important;
  }
}
@supports not (font-size: clamp( 1.875rem , 1.3440533981rem  +  2.2653721683vw , 4.0625rem )) {
  .projects header h1 {
    font-size: calc(1.875rem + 2.1875 * (100vw - 23.4375rem) / 96.5625);
  }
}
.projects header p {
  width: 45%;
  padding-right: 61px;
  box-sizing: border-box;
}
.projects .carousel {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.projects .carousel .slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 706px;
}
.projects .carousel .slide h3 {
  margin: 42px 0 21px 0;
  font-family: "Proxima Nova Bold";
  font-size: 30px;
}
.projects .carousel .slide p {
  color: #7E7E7E;
  font-size: 20px;
}

@media (max-width: 769px) {
  .projects h1 {
    margin-bottom: 30px;
  }
  .projects__content {
    flex-direction: column;
  }
  .projects__content h1, .projects__content p {
    width: 100% !important;
    text-align: center;
    padding: 0 !important;
  }
  .carousel .slide img {
    width: 90%;
  }
}
.feedback {
  border-bottom: 1px solid #fff;
  display: flex;
  flex-direction: column;
  padding-bottom: 143px;
}
@supports (padding-top: clamp( 1.875rem , 0.1875rem  +  8.4375vw , 10.3125rem )) {
  .feedback {
    padding-top: clamp( 1.875rem , 0.1875rem  +  8.4375vw , 10.3125rem ) !important;
  }
}
@supports not (padding-top: clamp( 1.875rem , 0.1875rem  +  8.4375vw , 10.3125rem )) {
  .feedback {
    padding-top: calc(1.875rem + 8.4375 * (100vw - 20rem) / 100);
  }
}
.feedback header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 158px;
}
.feedback header h1 {
  width: 45%;
  text-transform: uppercase;
  font-family: "Proxima Nova Bold";
  transform: translateY(100%);
}
@supports (font-size: clamp( 1.875rem , 1.4375rem  +  2.1875vw , 4.0625rem )) {
  .feedback header h1 {
    font-size: clamp( 1.875rem , 1.4375rem  +  2.1875vw , 4.0625rem ) !important;
  }
}
@supports not (font-size: clamp( 1.875rem , 1.4375rem  +  2.1875vw , 4.0625rem )) {
  .feedback header h1 {
    font-size: calc(1.875rem + 2.1875 * (100vw - 20rem) / 100);
  }
}
.feedback header p {
  width: 45%;
  padding-right: 61px;
  box-sizing: border-box;
  transform: translateY(100%);
}
.feedback .feedback__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  opacity: 0;
}
.feedback .feedback__row .feedback__row_lc {
  width: 45%;
  border-bottom: 1px solid #fff;
}
.feedback .feedback__row .feedback__row_lc h3 {
  font-size: 30px;
  font-family: "Proxima Nova Semibold";
  text-transform: uppercase;
}
.feedback .feedback__row .feedback__row_lc .feedback__block_budget {
  margin-top: 51px;
  display: flex;
}
.feedback .feedback__row .feedback__row_lc .feedback__block_budget .feedback__block_budget_text {
  margin-left: 48px;
  display: flex;
  flex-direction: column;
}
.feedback .feedback__row .feedback__row_lc .feedback__block_budget .feedback__block_budget_text p {
  margin-bottom: 8px;
}
@supports (font-size: clamp( 1.25rem , 0.6536259542rem  +  2.5445292621vw , 1.875rem )) {
  .feedback .feedback__row .feedback__row_lc .feedback__block_budget .feedback__block_budget_text p {
    font-size: clamp( 1.25rem , 0.6536259542rem  +  2.5445292621vw , 1.875rem ) !important;
  }
}
@supports not (font-size: clamp( 1.25rem , 0.6536259542rem  +  2.5445292621vw , 1.875rem )) {
  .feedback .feedback__row .feedback__row_lc .feedback__block_budget .feedback__block_budget_text p {
    font-size: calc(1.25rem + 0.625 * (100vw - 23.4375rem) / 24.5625);
  }
}
.feedback .feedback__row .feedback__row_lc .feedback__block_budget .feedback__block_budget_text span {
  font-size: 10px;
  color: #EA2828;
}
.feedback .feedback__row .feedback__row_lc .feedback__block_budget .feedback__block_budget_text .budget {
  font-size: 30px;
  color: #fff;
}
.feedback .feedback__row .feedback__row_lc .feedback__send {
  border: none;
  padding: 45px 165px 50px;
  background-color: #fff;
  font-family: "Proxima Nova Semibold";
  font-size: 20px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.09);
  margin-top: 82px;
  transition: 0.5s;
}
@supports (padding-left: clamp( 8.4375rem , 6.6483778626rem  +  7.6335877863vw , 10.3125rem )) {
  .feedback .feedback__row .feedback__row_lc .feedback__send {
    padding-left: clamp( 8.4375rem , 6.6483778626rem  +  7.6335877863vw , 10.3125rem ) !important;
  }
}
@supports not (padding-left: clamp( 8.4375rem , 6.6483778626rem  +  7.6335877863vw , 10.3125rem )) {
  .feedback .feedback__row .feedback__row_lc .feedback__send {
    padding-left: calc(8.4375rem + 1.875 * (100vw - 23.4375rem) / 24.5625);
  }
}
@supports (padding-right: clamp( 8.4375rem , 6.6483778626rem  +  7.6335877863vw , 10.3125rem )) {
  .feedback .feedback__row .feedback__row_lc .feedback__send {
    padding-right: clamp( 8.4375rem , 6.6483778626rem  +  7.6335877863vw , 10.3125rem ) !important;
  }
}
@supports not (padding-right: clamp( 8.4375rem , 6.6483778626rem  +  7.6335877863vw , 10.3125rem )) {
  .feedback .feedback__row .feedback__row_lc .feedback__send {
    padding-right: calc(8.4375rem + 1.875 * (100vw - 23.4375rem) / 24.5625);
  }
}
.feedback .feedback__row .feedback__row_lc .feedback__send:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}
.feedback .feedback__row .feedback__row_lc .budget__error {
  color: red;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 15px;
  display: block;
  margin-left: 20%;
  text-align: center;
  margin-top: 15px;
  opacity: 0;
  transition: 0.3s;
}
.feedback .feedback__row .feedback__row_rc {
  width: 45%;
  border-bottom: 1px solid #fff;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.feedback .feedback__row input {
  font-size: 30px;
  font-family: "Proxima Nova Bold";
  background-color: #000;
  border: none;
  outline: none;
  color: #fff;
  padding: 30px 0;
}
.feedback .feedback__row .input_name {
  position: relative;
}
.feedback .feedback__row .input_name::after {
  content: "Your Name";
  position: absolute;
  bottom: 84px;
  left: 0;
  color: #707070;
}
.feedback .feedback__row .input_phone {
  position: relative;
}
.feedback .feedback__row .input_phone::after {
  content: "Your Contact / Email or Phone with Messengers ";
  position: absolute;
  bottom: 84px;
  left: 0;
  color: #707070;
}
.feedback .feedback__row .input_comment {
  position: relative;
}
.feedback .feedback__row .input_comment::after {
  content: "Add text or Comment About project ";
  position: absolute;
  bottom: 84px;
  left: 0;
  color: #707070;
}
.feedback .budget__row {
  border-bottom: none !important;
  margin-bottom: 0;
}

@media (max-width: 900px) {
  .feedback .feedback__content {
    flex-direction: column;
  }
  .feedback .feedback__content h1, .feedback .feedback__content p {
    width: 100%;
    text-align: center;
    padding: 0;
  }
}
@media (max-width: 768px) {
  .feedback__row {
    flex-direction: column !important;
    margin-bottom: 0px !important;
  }
  .feedback__row .feedback__row_lc, .feedback__row .feedback__row_rc {
    width: 100% !important;
    margin-bottom: 50px;
  }
  .feedback__row .feedback__row_lc input, .feedback__row .feedback__row_rc input {
    width: 100%;
  }
  .feedback__row .budget__row {
    order: 2;
    text-align: center;
  }
  .feedback__row .budget__row .feedback__block_budget {
    justify-content: space-around;
  }
  .feedback__row .comment__row {
    order: 1;
  }
}
input[type=range].styled-slider {
  -webkit-appearance: none;
  width: 100%;
  overflow: hidden;
  height: 4px;
  width: 34%;
}

/*progress support*/
input[type=range].styled-slider.slider-progress {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 20px + var(--ratio) * (100% - 20px));
}

input[type=range].styled-slider:focus {
  outline: none;
}

/*webkit*/
input[type=range].styled-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 1em;
  background: #FFFFFF;
  border: none;
  box-shadow: 0 0 2px black;
  margin-top: -8.5px;
}

input[type=range].styled-slider::-webkit-slider-runnable-track {
  height: 4px;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

input[type=range].styled-slider.slider-progress::-webkit-slider-runnable-track {
  background: linear-gradient(rgb(255, 255, 255), #fff) 0/var(--sx) 100% no-repeat, #7e7e7e;
}

/*mozilla*/
input[type=range].styled-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 1em;
  background: #FFFFFF;
  border: none;
  box-shadow: 0 0 2px black;
  z-index: 200;
  position: relative;
}

input[type=range].styled-slider::-moz-range-track {
  height: 1px;
  border: none;
  border-radius: 0;
  background: #7E7E7E;
  box-shadow: none;
  z-index: 200;
  position: relative;
}

input[type=range].styled-slider::-moz-range-progress {
  background: #fff;
  height: 4px;
  z-index: 200;
  position: relative;
}

/*ms*/
input[type=range].styled-slider::-ms-fill-upper {
  background: transparent;
  border-color: transparent;
}

input[type=range].styled-slider::-ms-fill-lower {
  background: transparent;
  border-color: transparent;
}

input[type=range].styled-slider::-ms-thumb {
  width: 20px;
  height: 20px;
  border-radius: 1em;
  background: #FFFFFF;
  border: none;
  box-shadow: 0 0 2px black;
  margin-top: 0;
  box-sizing: border-box;
}

input[type=range].styled-slider::-ms-track {
  height: 3px;
  border-radius: 0;
  background: #7E7E7E;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
}

input[type=range].styled-slider.slider-progress::-ms-fill-lower {
  height: 3px;
  border-radius: 0px 0 0 0px;
  margin: -undefined 0 -undefined -undefined;
  background: #FFFFFF;
  border: none;
  border-right-width: 0;
}

.contact {
  display: flex !important;
  padding-top: 161px;
  box-sizing: border-box;
  padding-bottom: 200px;
}
.contact .contact__lc {
  width: 50%;
}
.contact .contact__lc h1 {
  text-transform: uppercase;
  font-family: "Proxima Nova Bold";
  margin-bottom: 209px;
}
@supports (font-size: clamp( 1.375rem , 0.7226941748rem  +  2.783171521vw , 4.0625rem )) {
  .contact .contact__lc h1 {
    font-size: clamp( 1.375rem , 0.7226941748rem  +  2.783171521vw , 4.0625rem ) !important;
  }
}
@supports not (font-size: clamp( 1.375rem , 0.7226941748rem  +  2.783171521vw , 4.0625rem )) {
  .contact .contact__lc h1 {
    font-size: calc(1.375rem + 2.6875 * (100vw - 23.4375rem) / 96.5625);
  }
}
.contact .contact__lc h3 {
  text-transform: uppercase;
  font-family: "Proxima Nova Semibold";
  text-decoration: underline;
}
@supports (font-size: clamp( 1.375rem , 1.2536407767rem  +  0.5177993528vw , 1.875rem )) {
  .contact .contact__lc h3 {
    font-size: clamp( 1.375rem , 1.2536407767rem  +  0.5177993528vw , 1.875rem ) !important;
  }
}
@supports not (font-size: clamp( 1.375rem , 1.2536407767rem  +  0.5177993528vw , 1.875rem )) {
  .contact .contact__lc h3 {
    font-size: calc(1.375rem + 0.5 * (100vw - 23.4375rem) / 96.5625);
  }
}
.contact .contact__lc p {
  font-family: "Proxima Nova Semibold";
  margin-top: 15px;
}
@supports (font-size: clamp( 1.375rem , 1.2536407767rem  +  0.5177993528vw , 1.875rem )) {
  .contact .contact__lc p {
    font-size: clamp( 1.375rem , 1.2536407767rem  +  0.5177993528vw , 1.875rem ) !important;
  }
}
@supports not (font-size: clamp( 1.375rem , 1.2536407767rem  +  0.5177993528vw , 1.875rem )) {
  .contact .contact__lc p {
    font-size: calc(1.375rem + 0.5 * (100vw - 23.4375rem) / 96.5625);
  }
}
.contact .contact__rc {
  width: 50%;
}
.contact .contact__rc .header__text {
  margin-bottom: 82px;
}
.contact .contact__rc h3 {
  margin: 13px 0 99px 0;
}
@supports (font-size: clamp( 1.375rem , 1.1019417476rem  +  1.1650485437vw , 2.5rem )) {
  .contact .contact__rc h3 {
    font-size: clamp( 1.375rem , 1.1019417476rem  +  1.1650485437vw , 2.5rem ) !important;
  }
}
@supports not (font-size: clamp( 1.375rem , 1.1019417476rem  +  1.1650485437vw , 2.5rem )) {
  .contact .contact__rc h3 {
    font-size: calc(1.375rem + 1.125 * (100vw - 23.4375rem) / 96.5625);
  }
}
.contact .contact__rc .social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 41px;
}
.contact .contact__rc .social img {
  margin-right: 31px;
}
.contact .contact__rc .social img:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .contact {
    padding-bottom: 30px;
    flex-direction: column !important;
    padding-top: 30px !important;
  }
  .contact .contact__lc, .contact .contact__rc {
    width: 100%;
  }
  .contact .contact__lc h1, .contact .contact__lc h3, .contact .contact__lc p, .contact .contact__rc h1, .contact .contact__rc h3, .contact .contact__rc p {
    margin-bottom: 20px;
    text-align: center;
  }
  .contact .contact__rc {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 200px;
}
footer .footer__lc {
  width: 80%;
}
footer .footer__lc p {
  text-transform: uppercase;
}
footer .footer__lc .footer__links {
  display: flex;
  margin-top: 20px;
}
footer .footer__lc .footer__links a {
  margin-right: 42px;
  font-size: 20px;
  text-decoration: underline;
}
footer .footer__rc {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer__rc img {
  width: 15px;
  height: 33px;
}
footer .footer__rc p {
  font-size: 20px;
  font-family: "Proxima Nova Bold";
}
footer .footer__rc:hover {
  cursor: pointer;
}

@-webkit-keyframes border-menu-show {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@keyframes border-menu-show {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes border-menu-hide {
  100% {
    right: -100%;
  }
  0% {
    right: 0;
  }
}
@keyframes border-menu-hide {
  100% {
    right: -100%;
  }
  0% {
    right: 0;
  }
}
@-webkit-keyframes image-show {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@keyframes image-show {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@-webkit-keyframes text-show {
  0% {
    transform: translateY(300%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes text-show {
  0% {
    transform: translateY(300%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes opacity-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes border-show {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes border-show {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes stand-swap {
  0% {
    transform: translate(0, -50%);
  }
  33% {
    transform: translate(0, -300%);
    right: 6%;
  }
  66% {
    transform: translate(50%, -300%);
    right: 50%;
  }
  100% {
    transform: translate(50%, -50%);
    right: 50%;
  }
}
@keyframes stand-swap {
  0% {
    transform: translate(0, -50%);
  }
  33% {
    transform: translate(0, -300%);
    right: 6%;
  }
  66% {
    transform: translate(50%, -300%);
    right: 50%;
  }
  100% {
    transform: translate(50%, -50%);
    right: 50%;
  }
}
@media (max-width: 768px) {
  @-webkit-keyframes stand-swap {
    0% {
      transform: translate(0, -50%);
    }
    33% {
      transform: translate(0, -300%);
      right: 6%;
    }
    66% {
      transform: translate(50%, -300%);
      right: 50%;
    }
    100% {
      transform: translate(50%, -300%);
      right: 50%;
    }
  }
  @keyframes stand-swap {
    0% {
      transform: translate(0, -50%);
    }
    33% {
      transform: translate(0, -300%);
      right: 6%;
    }
    66% {
      transform: translate(50%, -300%);
      right: 50%;
    }
    100% {
      transform: translate(50%, -300%);
      right: 50%;
    }
  }
}
body {
  background-color: #000000;
  color: #fff;
  font-family: "Proxima Nova Regular";
  margin: 0;
  font-size: 24px;
}
body .container__gradient {
  position: relative;
  overflow: hidden;
}
@supports (padding-left: clamp( 0.625rem , 0.29375rem  +  1.65625vw , 2.28125rem )) {
  body .container__gradient {
    padding-left: clamp( 0.625rem , 0.29375rem  +  1.65625vw , 2.28125rem ) !important;
  }
}
@supports not (padding-left: clamp( 0.625rem , 0.29375rem  +  1.65625vw , 2.28125rem )) {
  body .container__gradient {
    padding-left: calc(0.625rem + 1.65625 * (100vw - 20rem) / 100);
  }
}
@supports (padding-right: clamp( 0.625rem , 0.23125rem  +  1.96875vw , 2.59375rem )) {
  body .container__gradient {
    padding-right: clamp( 0.625rem , 0.23125rem  +  1.96875vw , 2.59375rem ) !important;
  }
}
@supports not (padding-right: clamp( 0.625rem , 0.23125rem  +  1.96875vw , 2.59375rem )) {
  body .container__gradient {
    padding-right: calc(0.625rem + 1.96875 * (100vw - 20rem) / 100);
  }
}
@supports (padding-top: clamp( 0.625rem , 0.45625rem  +  0.84375vw , 1.46875rem )) {
  body .container__gradient {
    padding-top: clamp( 0.625rem , 0.45625rem  +  0.84375vw , 1.46875rem ) !important;
  }
}
@supports not (padding-top: clamp( 0.625rem , 0.45625rem  +  0.84375vw , 1.46875rem )) {
  body .container__gradient {
    padding-top: calc(0.625rem + 0.84375 * (100vw - 20rem) / 100);
  }
}
body .container {
  max-width: 1920px;
  display: block;
  margin: 0 auto;
}
@supports (padding-left: clamp( 0.0000000625rem , -140.1562495313rem  +  172.4999995vw , 21.5625rem )) {
  body .container_text {
    padding-left: clamp( 0.0000000625rem , -140.1562495313rem  +  172.4999995vw , 21.5625rem ) !important;
  }
}
@supports not (padding-left: clamp( 0.0000000625rem , -140.1562495313rem  +  172.4999995vw , 21.5625rem )) {
  body .container_text {
    padding-left: calc(0.0000000625rem + 21.5624999375 * (100vw - 81.25rem) / 12.5);
  }
}
body .section {
  height: 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
body .section h1 {
  width: 50%;
  text-transform: uppercase;
  font-family: "Proxima Nova Semibold";
  z-index: 2;
  transform: translateY(100%);
}
@supports (font-size: clamp( 1.375rem , 0.5113636364rem  +  4.3181818182vw , 3.75rem )) {
  body .section h1 {
    font-size: clamp( 1.375rem , 0.5113636364rem  +  4.3181818182vw , 3.75rem ) !important;
  }
}
@supports not (font-size: clamp( 1.375rem , 0.5113636364rem  +  4.3181818182vw , 3.75rem )) {
  body .section h1 {
    font-size: calc(1.375rem + 2.375 * (100vw - 20rem) / 55);
  }
}
body .section p {
  width: 50%;
  box-sizing: border-box;
  z-index: 2;
  transform: translateY(100%);
}
@supports (padding-right: clamp( 0.0000000625rem , -7.1128729552rem  +  22.7611936567vw , 3.8125rem )) {
  body .section p {
    padding-right: clamp( 0.0000000625rem , -7.1128729552rem  +  22.7611936567vw , 3.8125rem ) !important;
  }
}
@supports not (padding-right: clamp( 0.0000000625rem , -7.1128729552rem  +  22.7611936567vw , 3.8125rem )) {
  body .section p {
    padding-right: calc(0.0000000625rem + 3.8124999375 * (100vw - 31.25rem) / 16.75);
  }
}
body .section .section__number {
  position: absolute;
  font-family: "Merriweather";
  color: #707070;
}
@supports (top: clamp( 1.25rem , -5.1632462687rem  +  20.5223880597vw , 4.6875rem )) {
  body .section .section__number {
    top: clamp( 1.25rem , -5.1632462687rem  +  20.5223880597vw , 4.6875rem ) !important;
  }
}
@supports not (top: clamp( 1.25rem , -5.1632462687rem  +  20.5223880597vw , 4.6875rem )) {
  body .section .section__number {
    top: calc(1.25rem + 3.4375 * (100vw - 31.25rem) / 16.75);
  }
}
@supports (left: clamp( 1.25rem , -4.3470149254rem  +  17.9104477612vw , 4.25rem )) {
  body .section .section__number {
    left: clamp( 1.25rem , -4.3470149254rem  +  17.9104477612vw , 4.25rem ) !important;
  }
}
@supports not (left: clamp( 1.25rem , -4.3470149254rem  +  17.9104477612vw , 4.25rem )) {
  body .section .section__number {
    left: calc(1.25rem + 3 * (100vw - 31.25rem) / 16.75);
  }
}
body .section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: #fff;
  z-index: 2;
}
body .sections {
  padding-bottom: 200px;
}
body a {
  text-decoration: none;
  color: #fff;
  z-index: 2;
  position: relative;
}
body h1, body h2, body h3, body p {
  margin: 0;
  position: relative;
}
body .links_wrapper {
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
body .animation__wrapper {
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
}
body .active-text {
  -webkit-animation: text-show 0.5s forwards;
          animation: text-show 0.5s forwards;
}
body .active-opacity {
  -webkit-animation: opacity-show 2s forwards;
          animation: opacity-show 2s forwards;
}
body .active-border::after {
  -webkit-animation: border-show 1s forwards;
          animation: border-show 1s forwards;
}
body .active-fixed {
  position: fixed;
  top: 0;
  left: 0;
}
body .stand-animation {
  -webkit-animation: stand-swap 0.7s forwards;
          animation: stand-swap 0.7s forwards;
}
body .slide-sections {
  display: block;
  width: 100%;
}
body .slide-sections__item {
  display: block;
  width: 100%;
  background-color: #000;
  border-top: 1px solid #fff;
  position: relative;
}
body .slide-sections__item::before {
  content: "";
  display: block;
  width: 100%;
  background: #000;
  opacity: var(--shading, 0);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
body .radial_gradient_yellow {
  width: 745px;
  height: 757px;
  position: absolute;
  top: -574px;
  right: -387px;
  transform: rotate(-10deg);
  background-image: radial-gradient(ellipse 372px 378px, #FFC810, transparent);
}
body .radial_gradient_blue {
  width: 745px;
  height: 757px;
  position: absolute;
  top: -600px;
  right: -180px;
  transform: rotate(-10deg);
  background-image: radial-gradient(ellipse 372px 378px, #107EFF, transparent);
}
body .radial_gradient_red {
  width: 745px;
  height: 757px;
  position: absolute;
  top: -205px;
  left: -415px;
  transform: rotate(-10deg);
  background-image: radial-gradient(ellipse 372px 378px, #460D23, transparent);
}
body .radial_gradient_blue2 {
  width: 2744px;
  height: 1326px;
  position: absolute;
  top: -700px;
  right: -1700px;
  transform: rotate(-5deg);
  background-image: radial-gradient(ellipse 1372px 663px, #0D123B, transparent);
}
body .modal__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0%);
}
body .modal {
  transition: 0.1s;
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0%);
  background-color: #000;
  border: 1px #ccc solid;
  box-shadow: 0px 0px 10px #ccc;
  z-index: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@supports (width: clamp( 18.75rem , 10.4065533981rem  +  35.5987055016vw , 53.125rem )) {
  body .modal {
    width: clamp( 18.75rem , 10.4065533981rem  +  35.5987055016vw , 53.125rem ) !important;
  }
}
@supports not (width: clamp( 18.75rem , 10.4065533981rem  +  35.5987055016vw , 53.125rem )) {
  body .modal {
    width: calc(18.75rem + 34.375 * (100vw - 23.4375rem) / 96.5625);
  }
}
@supports (height: clamp( 18.75rem , 16.4745145631rem  +  9.7087378641vw , 28.125rem )) {
  body .modal {
    height: clamp( 18.75rem , 16.4745145631rem  +  9.7087378641vw , 28.125rem ) !important;
  }
}
@supports not (height: clamp( 18.75rem , 16.4745145631rem  +  9.7087378641vw , 28.125rem )) {
  body .modal {
    height: calc(18.75rem + 9.375 * (100vw - 23.4375rem) / 96.5625);
  }
}
body .modal .modal__row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
body .modal .modal__row h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@supports (font-size: clamp( 1.125rem , 0.875rem  +  0.5208333333vw , 1.5rem )) {
  body .modal .modal__row h3 {
    font-size: clamp( 1.125rem , 0.875rem  +  0.5208333333vw , 1.5rem ) !important;
  }
}
@supports not (font-size: clamp( 1.125rem , 0.875rem  +  0.5208333333vw , 1.5rem )) {
  body .modal .modal__row h3 {
    font-size: calc(1.125rem + 0.375 * (100vw - 48rem) / 72);
  }
}
body .modal .close__modal {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
body .show__modal_wrapper {
  transform: scale(100%);
}
body .show__modal {
  opacity: 1;
  transform: translate(-50%, -50%) scale(100%);
}

@media (max-width: 500px) {
  .animation__wrapper {
    flex-direction: column;
  }
  .animation__wrapper h1 {
    width: 100% !important;
    text-align: center;
    margin-bottom: 30px;
  }
  .animation__wrapper p {
    width: 100% !important;
  }
}