.contact{
    display: flex !important;
    padding-top: 161px;
    box-sizing: border-box;
    padding-bottom: 200px;
    .contact__lc{
        width: 50%;
        h1{
            text-transform: uppercase;
            @include adaptiveValue('font-size', 65, 22, 1920, 375);
            font-family: 'Proxima Nova Bold';
            margin-bottom: 209px;
        }
        h3{
            @include adaptiveValue('font-size', 30, 22, 1920, 375);
            text-transform: uppercase;
            font-family: 'Proxima Nova Semibold';
            text-decoration: underline;
        }
        p{
            @include adaptiveValue('font-size', 30, 22, 1920, 375);
            font-family: 'Proxima Nova Semibold';
            margin-top: 15px;
        }
    }
    .contact__rc{
        width: 50%;
        .header__text{
            margin-bottom: 82px;
        }
        h3{
            font-family: 'Marcellus Regular';
            @include adaptiveValue('font-size', 40, 22, 1920, 375);
            margin: 13px 0 99px 0;
        }
        .social{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 41px;
            img{
                margin-right: 31px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}
@media(max-width: 768px){
    .contact{
        padding-bottom: 30px;
        flex-direction: column !important;
        padding-top: 30px !important;
        .contact__lc, .contact__rc{
            width: 100%;
            h1, h3, p{
                margin-bottom: 20px;
                text-align: center;
            }
        }
        .contact__rc{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}