.feedback{
    border-bottom: 1px solid #fff;
    display: flex;
    flex-direction: column;
    // padding-top: 165px;
    @include adaptiveValue('padding-top', 165, 30, 1920, 320);
    padding-bottom: 143px;
    header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 158px;
        h1{
            width: 45%;
            text-transform: uppercase;
            @include adaptiveValue('font-size', 65, 30, 1920, 320);
            font-family: 'Proxima Nova Bold';
            transform: translateY(100%);
        }
        p{
            width: 45%;
            padding-right: 61px;
            box-sizing: border-box;
            transform: translateY(100%);
        }
    }
    .feedback__row{
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
        opacity: 0;
        .feedback__row_lc{
            width: 45%;
            border-bottom: 1px solid #fff;
            h3{
                font-size: 30px;
                font-family: 'Proxima Nova Semibold';
                text-transform: uppercase;
            }    
        .feedback__block_budget{
            margin-top: 51px;
            display: flex;
            .feedback__block_budget_text{
                margin-left: 48px;
                display: flex;
                flex-direction: column;
                p{
                    // font-size: 30px;
                    @include adaptiveValue('font-size', 30, 20, 768, 375);
                    margin-bottom: 8px;
                }
                span{
                    font-size: 10px;
                    color: #EA2828;
                }
                .budget{
                    font-size: 30px;
                    color: #fff;
                }
            }
        }
        .feedback__send{
            border: none;
            padding: 45px 165px 50px;
            @include adaptiveValue('padding-left', 165, 135, 768, 375);
            @include adaptiveValue('padding-right', 165, 135, 768, 375);
            background-color: #fff;
            font-family: 'Proxima Nova Semibold';
            font-size: 20px;
            color: #fff;
            background-color: rgba(255, 255, 255, .09);
            margin-top: 82px;
            transition: .5s;
            &:hover{
                cursor: pointer;
                background-color: rgba(255, 255, 255, .2);

            }
        }   
        .budget__error{
            color: red;
            width: fit-content;
            font-size: 15px;
            display: block;
            margin-left: 20%;
            text-align: center;
            margin-top: 15px;
            opacity: 0;
            transition: .3s;
        }
        }
        .feedback__row_rc{
            width: 45%;
            border-bottom: 1px solid #fff;
            height: fit-content;
        }
        input{
            font-size: 30px;
            font-family: 'Proxima Nova Bold';
            background-color: #000;
            border: none;
            outline: none;
            color: #fff;
            padding: 30px 0;
        }
        .input_name{
            position: relative;
            &::after{
                content: "Your Name";
                position: absolute;
                bottom: 84px;
                left: 0;
                color: #707070;
            }
        }
        .input_phone{
            position: relative;
            &::after{
                content: "Your Contact / Email or Phone with Messengers ";
                position: absolute;
                bottom: 84px;
                left: 0;
                color: #707070;
            }
        }
        .input_comment{
            position: relative;
            &::after{
                content: "Add text or Comment About project ";
                position: absolute;
                bottom: 84px;
                left: 0;
                color: #707070;
            }
        }
    }
    .budget__row{
        border-bottom: none !important;
        margin-bottom: 0;
    }
}

@media(max-width: 900px){
    .feedback{
        .feedback__content{
            flex-direction: column;
            h1, p{
                width: 100%;
                text-align: center;
                padding: 0;
            }
        }
    }
}
@media(max-width: 768px){
    .feedback__row{
        flex-direction: column !important;
        margin-bottom: 0px !important;
        .feedback__row_lc, .feedback__row_rc{
            width: 100% !important;
            margin-bottom: 50px;
            input{
                width: 100%;
            }
        }
        .budget__row{
            order: 2;
            text-align: center;
            .feedback__block_budget{
                justify-content: space-around;
            }
        }
        .comment__row{
            order: 1;
        }
    } 
}