@import './adaptiveValue.scss';
.header{
    border-bottom: 1px solid #fff;
    .header__topText{
        overflow: hidden;
        transition: background-color .1s, top 1s, left 1s, right 1s;
        position: fixed;
        z-index: 100;
        top: 24px;
        left: 41.5px;
        right: 36.5px;
        font-size: 20px;
        color: #0D86FF;
        height: 80px;
        // padding: 0 112.5px 0 0;
        @include adaptiveValue("padding-right", 112.5, 15, 1920, 900);
        display: flex;
        align-items: center;
        margin: 0;
        border-top: 1px#fff solid;
        border-bottom: 1px#fff solid;
        text-align: right;
        box-sizing: border-box;
        opacity: 0;
        animation: opacity-show 3s;
        animation-fill-mode: forwards;
        animation-delay: .5s;
        span{
            color: #FFD00D;
        }
        .stand{
            display: flex;
            align-items: center;
            align-items: center;
            position: absolute;
            right: 112px;
            top: 50%;
            transform: translateY(-50%);
            width: fit-content;
        }
        img{
            transition: .1s;
            // width: 265px;
            @include adaptiveValue("width", 265, 100, 1920, 320);
            // margin-left: 105px;
            @include adaptiveValue("margin-left", 105, 36.5, 1920, 320);
            transform: translateY(200%);
        }
        .header__menu_links{
            transition: .4s;
            background-color: #000;
            margin-right: -3px;
            display: flex;
            transform: translateY(20%);
        }
    }
    .header__scrolling{
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        background-color: #000 !important;  
        display: flex !important;
        justify-content: space-between !important;
            img{
                display: block !important;
            }
    }
    .logo{
        // width: 300px;
        @include adaptiveValue("width", 300, 100, 1920, 320);
        border-top: none;
        // margin: 187px 0 128px 69px;
        margin-top: 187px;
        margin-bottom: 128px;
        margin-left: 69px;
        @include adaptiveValue("margin-left", 69, 0, 1920, 320);
        opacity: 0;
        animation: opacity-show 3s;
        animation-fill-mode: forwards;
        animation-delay: 1s;
    }
    .header__text{
        text-transform: uppercase;
        overflow: hidden;
        h1{
            font-size: 70px;
            font-family: 'Proxima Nova Bold';
            margin: 0;
            transform: translateY(200%);
            animation: text-show 1s;
            animation-fill-mode: forwards;
            animation-delay: 1.6s;
        }
        h2{
            font-size: 30px;
            margin-top: 46px;
            font-family: 'Marcellus Regular';
            transform: translateY(200%);
            animation: text-show 1s;
            animation-fill-mode: forwards;
            animation-delay: 2s;
        }
    }
    .header__menu{
        display: flex;
        justify-content: space-between;
        font-family: 'Proxima Nova Bold';
        font-size: 20px;
        margin: 161px 0 50px;
        opacity: 0;
        animation: opacity-show 3s;
        animation-fill-mode: forwards;
        animation-delay: 1.5s;
        position: relative;
        z-index: 2;
        
    }
    .header__menu_links{
        display: flex;
        margin-right: 61px;
        .header__menu_links_wrapper{
            overflow: hidden;
            // margin-left: 81px;
            @include adaptiveValue("margin-left", 81, 15, 1200, 900);
        }
       a{
        position: relative;
        overflow: hidden;
        &::after {
            content: "";
            position: absolute;
            right: -100%;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: #fff;
            animation: border-menu-hide 0.5s;
            animation-fill-mode: forwards;
        }

        &:hover{
            &::after {
                content: "";
                position: absolute;
                left: -100%;
                bottom: 0;
                width: 100%;
                height: 1px;
                background-color: #fff;
                animation: border-menu-show 0.5s;
                animation-fill-mode: forwards;
            }
        }
       }
    }
}