// # BLOCKS
@import './header.scss';
@import './fonts.scss';
@import './slider.scss';
@import './about.scss';
@import './projects.scss';
@import './feedback.scss';
@import './range.scss';
@import './contact.scss';
@import './footer.scss';
@import './animation.scss';
@import './adaptiveValue.scss';

body{
    background-color: #000000;
    color: #fff;
    font-family: 'Proxima Nova Regular';
    margin: 0;
    font-size: 24px;
    
    .container__gradient{
        @include adaptiveValue('padding-left', 36.5, 10, 1920, 320);
        @include adaptiveValue('padding-right', 41.5, 10, 1920, 320);
        @include adaptiveValue('padding-top', 23.5, 10, 1920, 320);
        position: relative;
        overflow: hidden;
    }
    .container{
        max-width: 1920px;
        display: block;
        margin: 0 auto;
    }
    .container_text{
        @include adaptiveValue('padding-left', 345, 0, 1500, 1300)
    }
    .section{
        height: 360px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        h1{
            width: 50%;
            text-transform: uppercase;
            @include adaptiveValue('font-size', 60, 22, 1200, 320);
            font-family: 'Proxima Nova Semibold';
            z-index: 2;
            transform: translateY(100%);
        }
        p{
            width: 50%;
            @include adaptiveValue('padding-right', 61, 0, 768, 500);
            box-sizing: border-box;
            z-index: 2;
            transform: translateY(100%);
        }
        .section__number{
            font-family: 'Merriweather';
            position: absolute;
            @include adaptiveValue('top', 75, 20, 768, 500);
            @include adaptiveValue('left', 68, 20, 768, 500);
            font-family: 'Merriweather';
            color: #707070;
        }
        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 1px;
            background-color: #fff;
            z-index: 2;
        }                            
    }
    .sections{
        padding-bottom: 200px;
    }

    a{
        text-decoration: none;
        color: #fff;
        z-index: 2;
        position: relative;
    }
    h1, h2, h3, p{
        margin: 0;
        position: relative;
    }

    // ############# ANIMATION

    .links_wrapper{
        overflow: hidden;
        width: fit-content;
    }
    .animation__wrapper{
        overflow: hidden;
        width: 100%;
        display: flex;
        align-items: center;
    }
    .active-text{
        animation: text-show .5s forwards;
    }
    .active-opacity{
        animation: opacity-show 2s forwards;
    }
    .active-border{
        &::after{
            animation: border-show 1s forwards;
        }
    }
    .active-fixed{
        position: fixed;
        top: 0;
        left: 0;
    }
    .stand-animation{
        animation: stand-swap .7s forwards;
    }

       // ############# GSAP SCROLLTRIGGER

    .slide-sections {
        display: block;
        width: 100%;
      }
      
      .slide-sections__item {
        display: block;
        width: 100%;
        background-color: #000;
        border-top: 1px solid #fff;
        position: relative;
      }
      
      .slide-sections__item::before {
        content: '';
        display: block;
        width: 100%;
        background: #000;
        opacity: var(--shading, 0);
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
      }

    // ############# GRADIENTS

    .radial_gradient_yellow{
        width: 745px;
        height: 757px;
        position: absolute;
        top: -574px;
        right: -387px;
        transform: rotate(-10deg);
        background-image: radial-gradient(ellipse 372px 378px, #FFC810, transparent);
    }
    .radial_gradient_blue{
        width: 745px;
        height: 757px;
        position: absolute;
        top: -600px;
        right: -180px;
        transform: rotate(-10deg);
        background-image: radial-gradient(ellipse 372px 378px, #107EFF, transparent);
    }
    .radial_gradient_red{
        width: 745px;
        height: 757px;
        position: absolute;
        top: -205px;
        left: -415px;
        transform: rotate(-10deg);
        background-image: radial-gradient(ellipse 372px 378px, #460D23, transparent);
    }
    .radial_gradient_blue2{
        width: 2744px;
        height: 1326px;
        position: absolute;
        top: -700px;
        right: -1700px;
        transform: rotate(-5deg);
        background-image: radial-gradient(ellipse 1372px 663px, #0D123B, transparent);
    }


 // ############# MODAL

    .modal__wrapper{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0, 0.7);
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(0%);
    }
    .modal{
        transition: .1s;
        position: fixed;
        top: 50%;
        left: 50%;
        opacity: 0;
        transform: translate(-50%, -50%) scale(0%);
        background-color: #000;
        @include adaptiveValue('width', 850, 300, 1920, 375);
        @include adaptiveValue('height', 450, 300, 1920, 375);
        border: 1px #ccc solid;
        box-shadow: 0px 0px 10px #ccc;
        z-index: 300;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .modal__row{
            width: 100%;
            display: flex;
            justify-content: space-around;
            margin-bottom: 10px;
            h3{
                width: fit-content;
                @include adaptiveValue('font-size', 24, 18, 1920, 768);
            }
        }
        .close__modal{
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
        }
    }
    .show__modal_wrapper{
        transform: scale(100%);
    }
    .show__modal{
        opacity: 1;
        transform: translate(-50%, -50%) scale(100%);
    }
}


@media(max-width: 500px){
    .animation__wrapper{
        flex-direction: column;
        h1{
            width: 100% !important;
            text-align: center;
            margin-bottom: 30px;
        }
        p{
            width: 100% !important;
        }
    }
}
